
/* Tarjeta HTML5*/
.card{

  margin:5px;
  padding: 10px;
  position: relative;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  transition: box-shadow .25s;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  border-radius: 2px;
}
.hoverable{
  transition: box-shadow .25s;
  box-shadow: 0;
}
.hoverable:hover{
  box-shadow:  0 10px 10px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.card p{

  text-align: center;
  color: #ffddee;
}
.card p a{
  text-decoration: none;
  color: black;
}
.card p a:hover{
  transition: all 0.5s ease;
  color: blue;
  font-size:2rem;
}





a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}


/* media query
@media only screen and (min-width: 800)
{
  @content;
}
*/

/*
CSS Syntax
CSS How To
CSS Colors
CSS Backgrounds
CSS Borders
CSS Margins
CSS Padding
CSS Height/Width
CSS Box Model
CSS Outline
CSS Text
CSS Fonts
CSS Links
CSS Lists
CSS Tables
CSS Display
CSS Max-width
CSS Position
CSS Overflow
CSS Float
CSS Inline-block
CSS Align
CSS Combinators
CSS Pseudo-class
CSS Pseudo-element
CSS Opacity
CSS Navigation Bar
CSS Dropdowns
CSS Tooltips
CSS Image Gallery
CSS Image Sprites
CSS Attr Selectors
CSS Forms
CSS Counters
*/
