<table>
  <tbody>
    <tr>
      <th class="color-swatch">Color</th>
      <th class="color-name"><h4>Color Name</h4></th>
      <th class="color-hex"><h4>Hex Color Code</h4></th>
      <th class="color-rgb"><h4>RGB Color Code</h4></th>
    </tr>
    <tr class="color">
      <td class="color-swatch">
        <div class="js-color" style="background-color:#FFFFFF;" data-hex="#FFFFFF" data-rgb="255, 255, 255" data-hsl="0, 0%, 100%"></div>
      </td>
      <td class="color-name">White</td>
      <td class="color-hex selectable">#FFFFFF</td>
      <td class="color-rgb selectable">rgb(255, 255, 255)</td>
    </tr>
    <tr class="color">
      <td class="color-swatch">
        <div class="js-color" style="background-color:#C0C0C0;" data-hex="#C0C0C0" data-rgb="192, 192, 192" data-hsl="0, 0%, 75%"></div>
      </td>
      <td class="color-name">Silver</td>
      <td class="color-hex selectable">#C0C0C0</td>
      <td class="color-rgb selectable">rgb(192, 192, 192)</td>
    </tr>
    <tr class="color">
      <td class="color-swatch">
        <div class="js-color" style="background-color:#808080;" data-hex="#808080" data-rgb="128, 128, 128" data-hsl="0, 0%, 50%"></div>
      </td>
      <td class="color-name">Gray</td>
      <td class="color-hex selectable">#808080</td>
      <td class="color-rgb selectable">rgb(128, 128, 128)</td>
    </tr>
    <tr class="color">
      <td class="color-swatch">
        <div class="js-color" style="background-color:#000000;" data-hex="#000000" data-rgb="0, 0, 0" data-hsl="0, 0%, 0%"></div>
      </td>
      <td class="color-name">Black</td>
      <td class="color-hex selectable">#000000</td>
      <td class="color-rgb selectable">rgb(0, 0, 0)</td>
    </tr>
    <tr class="color">
      <td class="color-swatch">
        <div class="js-color" style="background-color:#FF0000;" data-hex="#FF0000" data-rgb="255, 0, 0" data-hsl="0, 100%, 50%"></div>
      </td>
      <td class="color-name">Red</td>
      <td class="color-hex selectable">#FF0000</td>
      <td class="color-rgb selectable">rgb(255, 0, 0)</td>
    </tr>
    <tr class="color">
      <td class="color-swatch">
        <div class="js-color" style="background-color:#800000;" data-hex="#800000" data-rgb="128, 0, 0" data-hsl="0, 100%, 25%"></div>
      </td>
      <td class="color-name">Maroon</td>
      <td class="color-hex selectable">#800000</td>
      <td class="color-rgb selectable">rgb(128, 0, 0)</td>
    </tr>
    <tr class="color">
      <td class="color-swatch">
        <div class="js-color" style="background-color:#FFFF00;" data-hex="#FFFF00" data-rgb="255, 255, 0" data-hsl="60, 100%, 50%"></div>
      </td>
      <td class="color-name">Yellow</td>
      <td class="color-hex selectable">#FFFF00</td>
      <td class="color-rgb selectable">rgb(255, 255, 0)</td>
    </tr>
    <tr class="color">
      <td class="color-swatch">
        <div class="js-color" style="background-color:#808000;" data-hex="#808000" data-rgb="128, 128, 0" data-hsl="60, 100%, 25%"></div>
      </td>
      <td class="color-name">Olive</td>
      <td class="color-hex selectable">#808000</td>
      <td class="color-rgb selectable">rgb(128, 128, 0)</td>
    </tr>
    <tr class="color">
      <td class="color-swatch">
        <div class="js-color" style="background-color:#00FF00;" data-hex="#00FF00" data-rgb="0, 255, 0" data-hsl="120, 100%, 50%"></div>
      </td>
      <td class="color-name">Lime</td>
      <td class="color-hex selectable">#00FF00</td>
      <td class="color-rgb selectable">rgb(0, 255, 0)</td>
    </tr>
    <tr class="color">
      <td class="color-swatch">
        <div class="js-color" style="background-color:#008000;" data-hex="#008000" data-rgb="0, 128, 0" data-hsl="120, 100%, 25%"></div>
      </td>
      <td class="color-name">Green</td>
      <td class="color-hex selectable">#008000</td>
      <td class="color-rgb selectable">rgb(0, 128, 0)</td>
    </tr>
    <tr class="color">
      <td class="color-swatch">
        <div class="js-color" style="background-color:#00FFFF;" data-hex="#00FFFF" data-rgb="0, 255, 255" data-hsl="180, 100%, 50%"></div>
      </td>
      <td class="color-name">Aqua</td>
      <td class="color-hex selectable">#00FFFF</td>
      <td class="color-rgb selectable">rgb(0, 255, 255)</td>
    </tr>
    <tr class="color">
      <td class="color-swatch">
        <div class="js-color" style="background-color:#008080;" data-hex="#008080" data-rgb="0, 128, 128" data-hsl="180, 100%, 25%"></div>
      </td>
      <td class="color-name">Teal</td>
      <td class="color-hex selectable">#008080</td>
      <td class="color-rgb selectable">rgb(0, 128, 128)</td>
    </tr>
    <tr class="color">
      <td class="color-swatch">
        <div class="js-color" style="background-color:#0000FF;" data-hex="#0000FF" data-rgb="0, 0, 255" data-hsl="240, 100%, 50%"></div>
      </td>
      <td class="color-name">Blue</td>
      <td class="color-hex selectable">#0000FF</td>
      <td class="color-rgb selectable">rgb(0, 0, 255)</td>
    </tr>
    <tr class="color">
      <td class="color-swatch">
        <div class="js-color" style="background-color:#000080;" data-hex="#000080" data-rgb="0, 0, 128" data-hsl="240, 100%, 25%"></div>
      </td>
      <td class="color-name">Navy</td>
      <td class="color-hex selectable">#000080</td>
      <td class="color-rgb selectable">rgb(0, 0, 128)</td>
    </tr>
    <tr class="color">
      <td class="color-swatch">
        <div class="js-color" style="background-color:#FF00FF;" data-hex="#FF00FF" data-rgb="255, 0, 255" data-hsl="300, 100%, 50%"></div>
      </td>
      <td class="color-name">Fuchsia</td>
      <td class="color-hex selectable">#FF00FF</td>
      <td class="color-rgb selectable">rgb(255, 0, 255))</td>
    </tr>
    <tr class="color">
      <td class="color-swatch">
        <div class="js-color" style="background-color:#800080;" data-hex="#800080" data-rgb="128, 0, 128" data-hsl="300, 100%, 25%"></div>
      </td>
      <td class="color-name">Purple</td>
      <td class="color-hex selectable">#800080</td>
      <td class="color-rgb selectable">rgb(128, 0, 128))</td>
    </tr>
  </tbody>
</table>
