 /* fuentes de la pagina */
@font-face { 
    font-family: 'fragrance';
    src: url('/fonts/Webfonts/fragrance-webfont.eot') format('embedded-opentype');
    src: url('/fonts/Webfonts/fragrance-webfont.svg') format('svg');
    src: url('/fonts/Webfonts/fragrance-webfont.ttf') format('truetype');
    src: url('/fonts/Webfonts/fragrance-webfont.woff') format('woff');
    font-weight: normal; 
    font-style: normal;
}

@font-face {  
    font-family:'Oswald';
    src: url('/fonts/fuentes/Oswald/Oswald-Regular.ttf') format('truetype');

    font-weight: 400;
    font-style: normal; 
}
/* referencia de uso : font-family: 'Oswald', sans-serif; */
@font-face {
    font-family:'fragrance_antique';
    src: url('/fonts/fuentes/fragrance_antique-webfont.ttf') format('truetype');
    src: url('/fonts/fuentes/fragrance_antique-webfont.eot') format('embedded-opentype');
    src: url('/fonts/fuentes/fragrance_antique-webfont.woff') format('woff');
    src: url('/fonts/fuentes/fragrance_antique-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'Open Sans', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}
.fragrance{
    font-size: 125%;
    font-family: 'fragrance', Arial, sans-serif !important;
    text-transform:none !important;
    /*color:#F76b46 !important;*/
}
.oswald{
    font-family: 'Oswald', Arial, sans-serif !important;
}





/* DEFINICION DE LA NAVEGACION */
nav {
    color: #fff;
    background: linear-gradient( to bottom, #80B8E7, #4699DF) !important;
    border-top: 2px solid #207EBB;
    border-bottom: 2px solid #207EBB;
    width: 100%;
    height: 64px;
    line-height: 64px;
}
@media only screen and (min-width: 1400px)
{
	nav .nav-wrapper {
	    position: relative;
	    height: 100%;
	    width: 80%;
	    margin-left: 10%;
	}
}
/* DEFINICION DEL FOOTER DE LA PAGINA */
footer.page-footer {
    margin-top: 20px;
    padding-top: 20px;
    /*background: linear-gradient( to bottom, #80B8E7, #4699DF) !important;
    border-top: 2px solid #207EBB;
    border-bottom: 2px solid #207EBB;*/
    background-color: #e4eff9;
}

/* FORMS IN MATERIALIZE*/
input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea, 
.select-wrapper input.select-dropdown {
    position: relative;
    cursor: pointer;
    background-color: white;
    border: none;
    border: 1px solid #e0e0e0;
    outline: none;
    height: 3rem;
    line-height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 15px 0;
    padding: 0 0 0 5px;
    display: block;
}
.dropdown-content li:hover, .dropdown-content li.active, .dropdown-content li.selected {
    background-color: #F76b46;
}
.dropdown-content li > a, .dropdown-content li > span {
    font-size: 16px;
    color: #424242 ;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}

/* TABS */
.tabs .tab,
.tabs {
    height:65px;
    line-height:65px;
}
.tabs .tab a img{
    position: relative;top: 10px;
}
.tabs .tab a{
    background-color: #e0e0e0;
    color: #bdbdbd;
    height: 65px;
    line-height:65px;
}
.tabs .tab a.active{
    background-color:rgb(0,70,127) !important;
    color: white;
}
.tabs .tab a:hover{
    /*color: #9e9e9e;*/
    color: white;
}
.select-wrapper + label {
    position: absolute;
    top: 9px;
    font-size: 0.8rem;
}
/* SOBREESCRIBIR EL TAMAÑO DEL CONTENEDOR DE LA PAGINA */
@media only screen and (min-width: 993px)
{
	.container {
    	width: 90%;
	}
}
.container {
    margin: 0 auto;
    max-width: 1900px;
    width: 90%;
}
/*SOBREESCRIBIR EL ITEMCOLLECTION AND COLLECTION*/
.collection .collection-item {
    background-color: #fff;
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 0px solid #e0e0e0; 
}
.collection {
    margin: 0.5rem 0 1rem 0;
    border:0px solid #e0e0e0; 
    border-radius: 2px;
    overflow: hidden;
    position: relative;
}

/*SOBREESCRIBIR EL DROPDOWN*/
.dropdown-content {
    background-color: #fff;
    margin: 0;
    display: none;
    min-width: 300px;
    max-height: 650px;
    overflow-y: auto;
    opacity: 0;
    position: absolute;
    z-index: 999;
    will-change: width, height;
}
.dropdown-content li:hover, .dropdown-content li.active, .dropdown-content li.selected {
  background-color: #F76b46 ;
}

.dropdown-content li.active.selected {
  background-color: #F76b46 ;
}
.dropdown-content li.active a{
	font-family: 'Oswald', Arial, sans-serif !important;
	
}
.dropdown-content li > a{
	font-size:0.8rem !important;
}
/* estilos para el main */
.card-panel {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

/*ESTILO PARA EL LOGO*/
@media only screen and (min-width: 993px)
{
	.brand-logo img{
		margin-left:10%;
	}
}
.brand-logo img{
    height: 87% !important;
    top: 5%;
    position: relative;

	}
nav .brand-logo {
    position: absolute;
    color: #fff;
    /* display: inline-block; */
    font-size: 2.1rem;
    padding: 0;
    white-space: nowrap;
    height: 100%;
}	
nav ul a {
		font-family: 'Oswald', Arial, sans-serif !important;
	}
    .side-nav a {
    color: #444;
    display: block;
    font-size: 0.85rem;
    height: 64px;
    line-height: 64px;
    padding: 0 30px;
}

@media only screen and (min-width: 601px){
	/*nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
	    height: 118px;
	    line-height: 118px;
	}*/
	
}

@media only screen and (max-width: 1280px){
	nav ul a {
		font-size:0.8rem;
	}
}
@media only screen and (max-width: 1100px){
	nav ul a {
		font-size:0.7rem;
	}
}
@media only screen and (max-width: 1000px){
	nav ul a {
		font-size:0.69rem;
	}
}


/* estilos de la pagina */
.titulo{
	font-size: 2rem !important;
	text-transform: uppercase;
	font-family: 'Oswald', Arial, sans-serif !important;
}
.titulo-outsize{
    text-transform: uppercase;
    font-family: 'Oswald', Arial, sans-serif !important;
}
.text,
p{
	color: #9e9e9e;
}
footer p{
    color: #146395 !important;
}
.card-description {
    position: relative;
    margin: 0.5rem 0 1rem 0;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
    border: 1px solid #e0e0e0;
    padding: 15px !important;
}

/**/
strong {
    font-weight: 600;
    color: black;
}
/* Inputs */
.input-field label {
    padding-left:10px;
}
.input-field label.labelforcheckbox{
    padding-left:35px;    
}
.input-field label.active{
    padding-left:0px;
    font-size: 1.2rem;
    color: #424242 !important;
}
textarea{
    width: 100%;
    height: auto;
    background-color: transparent;
}
/* COLORS TO DATEPICKER */

.picker__date-display {
    text-align: center;
    background-color: rgb(0,70,127);
    color: #fff;
    padding-bottom: 15px;
    font-weight: 300;
}
.picker__weekday-display {
    background-color: rgb(0,70,127);
    padding: 10px;
    font-weight: 200;
    letter-spacing: .5;
    font-size: 1rem;
    margin-bottom: 15px;
}
.picker__close, .picker__today {
    font-size: 1.1rem;
    padding: 0 1rem;
    color: rgb(0,70,127);
}
.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
    border-radius: 50%;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    background-color: #F76b46;
    color: #ffffff;
}
.picker__day.picker__day--today {
    color: rgb(0,136,214);
}
/* reset margins */
.without-margin-top{margin-top: 0px !important;}
.without-margin-bottom{margin-bottom: 0px;}
.without-margin-left{margin-top: 0px;}
.without-margin-right{margin-top: 0px;}
.without-margin{margin: 0px;}

.separador-sections{
    margin:30px;
}
.margin-top{
    margin-top:30px;
}
.margin-top-s{
    margin-top:0px;
}
.margin-top-select{
    margin-top:30px;
}
@media only screen and (max-width: 1000px){
    .margin-top{
        margin-top:15px;
    }    
}
@media only screen and (max-width:600px){
    .margin-top-s{
        margin-top:20px;
    }
}

.padding{
    padding:10px !important;
}
/* Extra colors */
.azul-fuerte-diseno{
    background-color:rgb(0,70,127) !important;
}
.azul-bajo-diseno{
    background-color:rgb(0,136,214) !important;
}
.naraja-fuerte-diseno{
    background-color:#F76b46 !important;
}
.gris-diseno{
    background-color:#e0e0e0 !important;    
    color: #424242 !important;
}
.azul-fuerte-diseno-text{
    color:rgb(0,70,127) !important;
}
.azul-bajo-diseno-text{
    color:rgb(0,136,214) !important;
}
.naraja-fuerte-diseno-text{
    color:#F76b46 !important;
}
/* tamaños de iconos */
i.small {
    font-size: 3rem;
}
/* DIRECCION */
@media only screen and (max-width: 600px){
    .right-align{
        text-align: left;
    }
    .right {
        float: none !important;
    }
    nav .right{
        float: right !important;
    }
    .card-panel img{
        width:100%;
    }
}
.uppercase{
    text-transform: uppercase;
}



